/*corpo da pagina adm*/
body{
    font-family: arial;
    background: black;
    display: flex;
    margin: 0;
}

.corpo{
    display: flex;
    height: 100vh;
    flex: 1;
}

.corpo_main{
    display: flex;
    flex: 1;
}

.corpo_lateral{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.corpoInformacao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 5;
}

.logoDashboard{
    background: rgb(10, 15, 25);
    color: white;
    display: grid;
    margin-top: 0px;
    justify-content: center;
}

.logoDashboard h1{
    margin-bottom: 0px;
}

.logoDashboard p{
    color: red;
}

.areaDeNavegacao{
    display: grid;
    background: rgb(17, 24, 39);
    flex: 1;
}

.parteSuperior{
    background: rgb(10, 15, 25);
    color: red;
    display: flex;
    justify-content: center;
}

.telas{
    padding: 20px;
    display: grid;
    gap: 20px;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    align-items: center;
    font-size: 20px;
}

.telas a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.telas a:hover{
    background: red;
    border-radius: 10px;
}

.sair{
    padding: 20px;
    display: grid;
    gap: 20px;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    align-items: center;
    font-size: 20px;
}

.sair a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.sair a:hover{
    background: red;
    border-radius: 10px;
}

/*parte informações*/

.parteInformacao{
    background: white;
    padding-left: 20px;
    flex: 1;
}

.corpoDivAgendamento{
    background: #101010;
    color: white;
    box-shadow: 0px 30px 50px black;
    border: 1px solid #101010;
    border-radius: 10px;
    padding: 30px;
    max-width: 1150px;
}

.corpoDivCliente{
    background: #101010;
    color: white;
    box-shadow: 0px 30px 50px black;
    border: 1px solid #101010;
    border-radius: 10px;
    padding: 30px;
    max-width: 750px;
    flex: 2;
}

.corpoDivVeiculo{
    background: #101010;
    color: white;
    box-shadow: 0px 30px 50px black;
    border: 1px solid #101010;
    border-radius: 10px;
    padding: 30px;
    flex: 2;
}

.conjunto{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.cadastro{
    background: #101010;
    color: white;
    box-shadow: 0px 30px 50px black;
    border: 1px solid #101010;
    border-radius: 10px;
    padding: 30px;
    margin-right: 30px;
    flex: 1;
}

.texto-form{
    color: red;
    font-size: 20px;
}

.cadastro form{
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 1px solid #0000001f;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000a1;
    padding: 40px;
}

.formConteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.informacaoTabela thead{
    color: red;
}

.corpoTabela{
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000a1;
    padding: 10px;
}