body{
    font-family: arial;
    background: black;
    display: flex;
    margin: 0;
}

.corpo{
    display: flex;
    height: 100vh;
    flex: 1;
}

.corpo_main{
    display: flex;
    flex: 1;
}

.corpo_lateral{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.corpoInformacao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 5;
}

.logoDashboard{
    background: rgb(10, 15, 25);
    color: white;
    display: grid;
    margin-top: 0px;
    justify-content: center;
}

.areaDeNavegacao{
    display: grid;
    background: rgb(17, 24, 39);
    flex: 1;
}

.parteSuperior{
    background: rgb(10, 15, 25);
    color: white;
}

.parteInformacao{
    background: white;
    padding-left: 20px;
    flex: 1;
}

.telas{
    padding: 20px;
    display: grid;
    gap: 20px;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    align-items: center;
    font-size: 20px;
}

.telas a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.telas a:hover{
    background: red;
    border-radius: 10px;
}

.sair{
    padding: 20px;
    display: grid;
    gap: 20px;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    align-items: center;
    font-size: 20px;
}

.sair a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.sair a:hover{
    background: red;
    border-radius: 10px;
}